/*外围结构*/

#top, #main, #bottom {
    width: 1000px;
    margin: 0 auto;

}

/*顶部*/
#top {

}

/*输入框导航*/
#top .search-nav {
    /*处理父元素因为子元素浮动没有高度*/
    overflow: hidden;
}

.logo, .middle, #top ul {
    float: left;
}

.logo {
    width: 168px;
    border-radius: 10px;
}

.middle {
    width: 380px;
    margin-left: 120px;
    margin-top: 3px;
    position: relative;
}

.middle input {
    /*设置元素盒模型的方式,border-box表示元素设置的width/height指定的是包含边框在内的区域大小*/
    box-sizing: border-box;
    width: 380px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 18px;
    background: #f5f5f5;
    padding-left: 20px;
    padding-right: 56px;
}

.middle img {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}

#top ul {
    float: right;
    margin: 10px 0;
}

#top li {
    float: left;
    line-height: 20px;
    margin-left: 10px;
}

#top li img {
    vertical-align: bottom;
}

/* 1.2导航*/

.nav {
    margin: 30px 0;
}

.nav a {
    font-size: 16px;
    margin-right: 50px;
}

/*主体*/
#main {

}

/*2.1标题栏*/
#main > h2 {
    color: #000;
}

#main > h2 > p {
    float: right;
    font-size: 12px;
    color: #8e8d8d;
}

#main > h2 b {
    font-size: 16px;
    color: #997679;
}

#main > h2 span {
    margin-left: 30px;
}

/*2.2顶部工具栏*/
.type {
    margin-top: 25px;
    height: 36px;
    border-top: 1px solid gray;
    background: #e6e6e5;
    box-shadow: 0 2px 3px gray;
    color: #808080;
}

.type div{
    float: left;
    text-align:center;
    line-height: 36px;
}

.check{
    width:52px;
}

.gname{
    width:380px;
}

.gprice{
    width: 162px;
}

.gcount{
    width: 150px;
}

.gsum{
    width: 130px;
}

/*.action{*/
    /*width: 126px;*/
/*}*/

.download .action{
    width: 70px;
    margin-top: 45px;
}

.download .down{
    width: 70px;
    margin-top: 45px;
}

/*全选按钮的垂直对齐*/
.checkAll{
    vertical-align: middle;
}

/*2.2商品展示*/
.content{
    margin-top:20px;
}

.item{
    height:115px;
    background:#fff;
    text-align: center;
    color:#808080;
    margin-bottom: 15px;
}

.item div{
    float:left;
    box-sizing:border-box;
    height: 115px;
}


.item .check,.item .gsum{
    line-height: 115px;
}


.item .gname{
    border-right:1px solid #d9d9d9;
    text-align: left;

}

.item .gprice{
    border-right:1px solid #d9d9d9;
}

.item .gcount{
    border-right:1px solid #d9d9d9;
}

.item .gcount h3{
    color:#997679;
    margin-top: 40px;
    margin-bottom: 10px;
}

.item .gsum{
    border-right:1px solid #d9d9d9;
}

.item .gname img{
    width:84px;
    height:84px;
    float:left;
    margin-right: 20px;
    margin-top: 15px;
}
.item .gname h3{
    margin-left: 140px;
    color:#997679;
    margin-top: 40px;
    margin-bottom: 10px;
}

.gprice h3{
    color:#997679;
    margin-top: 40px;
    margin-bottom: 10px;
}

/*数量*/

.gcount a{
    float: left;
    width: 26px;
    height: 26px;
    border: 1px solid gray;
    background: #e8e8e8;
    color:#333;
    line-height: 26px;
    font-size: 18px;
    margin-top: 40px;
}

.gcount input{
    float: left;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    width: 26px;
    height: 26px;
    padding:0;
    text-align: center;
    margin-top: 40px;
}

.gcount .minus{
    margin-left: 35px;
}

.item .deleName{
    display: none;
}

.item .downName{
    display: none;
}

.bottom-title{
    position: relative;
    color: #8e8d8d;
    margin-top: 30px;
}

.bottom-title > p{
    float: right;
    font-size: 12px;
    color: #8e8d8d;
}

.bottom-title b {
    font-size: 16px;
    color: #997679;
}

.bottom-title span {
    margin-left: 30px;
    cursor: pointer;
}

.bottom-title .account{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 35px;
    background: #997679;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
}

.account1{
    position: absolute;
    right: -80px;
    top: 0;
}

.bottom-img{
    background: #f9f9f9;
}
.bottom-img img{
    margin: 40px 90px;
}

/*底部*/

#bottom {
    height: 150px;
}

#bottom > div {
    width: 500px;
    float: left;
}

#bottom .blog img {
    width: 168px;
    border-radius: 10px;
    margin-top: 30px;
}

#bottom .fontImg img {
    width: 500px;
}

#bottom p {
    text-align: center;
    color: #211b1b;
    clear: both;
    padding-bottom: 3px;
}

#bottom .qr {
    float: right;
    height: 145px;
    width: 400px;
}

.qr > div {
    margin-left: 80px;
    margin-top: 30px;
    float: left;
}

.qr .qrright {
    margin-left: 10px;
}

.qrright img {
    width: 95px;
    height: 95px;
}




























