<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页轮播图</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/cart.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div id="top">
        <div class="search-nav">
            <a href="">
                <img class="logo" src="/static/images/header/logo.png">
            </a>
            <div class="middle">
                <input type="text" name="">
                <img src="/static/images/header/search.png">
            </div>
            <ul>
                <li>
                    <a href="">
                        <img src="/static/images/header/care.png">
                    </a>
                    <b>|</b>
                </li>
                <li>
                    <a href="">
                        <img src="/static/images/header/order.png" id="i1">
                    </a>
                    <b>|</b>
                </li>
                <li>
                    <a href="">
                        <img src="/static/images/header/shop_car.png" id="i2">
                    </a>
                    <b>|</b>
                </li>
                <li>
                    <a href="">帮助</a>
                    <b>|</b>
                </li>
                <li>
                    <a href="/login">登录</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <a href="/index">首页</a>
            <a href="">私人订制</a>
        </div>
    </div>
    <div id="main">
        <div id="banner">
            <div>
                <img src="/static/images/index/index_banner1.jpg" style="display: block;">
                <img src="/static/images/index/index_banner2.jpg" style="display: none;">
                <img src="/static/images/index/index_banner3.jpg" style="display: none;">
                <img src="/static/images/index/index_banner4.jpg" style="display: none;">
                <img src="/static/images/index/index_banner5.jpg" style="display: none;">
            </div>
            <ul>
                <li style="background: gray"></li>
                <li style="background: #fff"></li>
                <li style="background: #fff"></li>
                <li style="background: #fff"></li>
                <li style="background: #fff"></li>
            </ul>
            <a href="javascript:void(0)" class="prev"></a>
            <a href="javascript:void(0)" class="next"></a>
        </div>

    </div>
    <div id="bottom">
        <div>
            <div class="blog">
                <a href="">
                    <img src="/static/images/header/logo.png">
                </a>
            </div>
            <div class="fontImg">
                <img src="/static/images/footer/footerFont.png">
            </div>
        </div>
        <div class="qr">
            <div>
                <p>
                    皮爷の商城客户端
                </p>
                <div>
                    <img src="/static/images/footer/ios.png">
                </div>
                <div>
                    <img src="/static/images/footer/android.png">
                </div>
            </div>
            <div class="qrright">
                <img src="/static/images/footer/erweima.png">
            </div>
        </div>
        <p>
            &copy;2018 皮爷の集团有限公司 版权所有 京ICP证xxxxxxxxxxx
        </p>
    </div>
</body>
</html>

