<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/register.css" type="text/css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/register.js"></script>
</head>

<body>
    <div id="top">
        <a href="/index">
            <img src="/static/images/header/logo.png">
        </a>
        <span>欢迎注册</span>
    </div>
    <div id="main">
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
            <div class="content">
                <p>
                    新用户注册
                    <a href="/login">直接登录</a>
                </p>
                <div class="text">
                    <span>用户名：</span>
                    <input type="text" name="uname" placeholder="请输入用户名">
                    <span class="tipsUname hideStyle">用户名不能为空</span>
                </div>
                <div class="text pwd">
                    <span>登录密码：</span>
                    <input type="password" name="upwd" placeholder="请输入密码">
                    <span class="tipsUpwd hideStyle">密码不能为空</span>
                </div>
                <div class="text pwd2">
                    <span>确认密码：</span>
                    <input type="password" name="confirmPwd" placeholder="请确认密码">
                    <span class="tipsUpwd2 hideStyle">两次密码不一致</span>
                </div>
                <div class="text email">
                    <span>邮箱：</span>
                    <input type="text" name="email" placeholder="请输入邮箱地址">
                </div>
                <div class="text phone">
                    <span>手机号：</span>
                    <input type="text" name="phoneNumb" placeholder="请输入您的手机号">
                </div>
                <div class="text">
                    <span></span>
                    <input type="submit" value="提交注册信息" class="register">
                </div>
            </div>
        </form>
    </div>
    <div id="bottom">
        <div>
            <div class="blog">
                <a href="">
                    <img src="/static/images/header/logo.png">
                </a>
            </div>
            <div class="fontImg">
                <img src="/static/images/footer/footerFont.png">
            </div>
        </div>
        <div class="qr">
            <div>
                <p>
                    皮爷の商城客户端
                </p>
                <div>
                    <img src="/static/images/footer/ios.png">
                </div>
                <div>
                    <img src="/static/images/footer/android.png">
                </div>
            </div>
            <div class="qrright">
                <img src="/static/images/footer/erweima.png">
            </div>
        </div>
        <p>
            &copy;2018 皮爷の集团有限公司 版权所有 京ICP证xxxxxxxxxxx
        </p>
    </div>
</body>
</html>